<div class="wrapper">
    <div class="table-responsive">
            {{#each stock}}
                <div class="trigger">
                    <div class="cell" data={{pctchange}}><p class="symbol">{{Symbol}}</p><p class="pctchange">{{pctchange}}</p>
                        <span class="pop-up">
                            <div>
                                <p>{{Name}} ({{lastsale}})</p>
                                <p>Net change: {{netchange}}</p>
                                <p>% change: {{pctchange}}</p>
                            </div>
                        </span>
                    </div>
                {{/each}}
                </div>
    </div>
</div>
